.App {
  background-color: #FF5A5F;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.contact__box{
  padding: 20px;
  margin: 20px;
  color: white;
  background-color: #f9686d;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.contact__box__text{
  font-weight: 200;
  padding: 0px;
  margin: 0px;
}
